.table-container{
    padding : 50px 0px 50px 0px
}
.table-container table{
    width: 100%; 
}
.table-container table thead {
    font-weight: bold;
}
.table-container table thead td{
    border-bottom: 1px solid #333;
    border-left: 1px solid #333; 
    padding-bottom : 10px
}
.table-container table tbody td{ 
    padding-top : 10px;
    border-left: 1px solid #333; 
}
.table-container table tbody td:first-child , .table-container table thead td:first-child{  
    border-left: unset; 
}
.d-none {
    display: none;
}
.mb-5 {
    margin-bottom: 5rem;
}