#root{
  background-color: white; 
}
.submitbttn {
  padding :  30px 60px; 
  
}
.mt-5 {
  margin-top : 2rem
}

html p , html h2{ 
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}
.stats-container
{
  margin-top: 5rem;
}
.App {
  text-align: center;
  padding : 3rem; 
}

.App h2{
  margin-bottom: 5rem;
}

.cardscontainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
